@charset "utf-8";
/* CSS Document */

/*Box-Sizing & Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*BODY*/
body{
	background-image: url("../images/portugal.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color:antiquewhite;
	font-family:"Montserrat", sans-serif;	
}

h1, h2, h3{
	font-family:"Grape Nuts", cursive;
}

p{
	text-align: right;
}
/*HEADER */
header{
	background-color: #0D6134;
	padding: 1em;
	margin:2em 2em;
}

header h1{
	font-size: 4em;
	font-weight: 700;
	text-align: right;
}

main{
	padding: 3em 3em 3em 3em;
	margin: 0 auto;
	border-radius: 20px;
}
main h2{
	background-color: #0D6134;
	padding: 1em 1em 1em 1em;
	text-align: center;

}


main p{
	background-color: beige;
	color: #0D6134;
	text-align: center;
	padding: 1em;
}

/*2 COLOUMN LAYOUT*/

.content-wrapper{
	display: flex;
	flex-direction: row;
	gap: 3em;
	margin: 2em;
}


/*NAVIGATION*/

nav{
	background-color: #0D6134;
	display: flex;
	flex-flow: column nowrap;
	border-radius: 15px;
	padding: 1.5em;
	width: 200px;
}
nav ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: .5em;
	padding:0;
	justify-content: center;

}
nav li a{
	display: block;
	padding: 1em;
	margin: .5em 1em;
	background:beige;
	color: #0D6134;
	text-decoration: none;
	text-align: center;
}

nav li a:visited{
	color:#F36A6A;
}

nav li a:hover{
	color: #8EDCD8;
}


/* FOOTER*/
footer{
	background-color: #0D6134;
	text-align: right;
	padding: 1em;
	margin:2em 2em;

}


