@charset "utf-8";
/* CSS Document */

/*BOX SIZING & RESET*/
*{
	margin: 0; /*removes default margins*/
	padding: 0; /*removes default padding*/
	box-sizing: border-box; /*includes padding and border in the width and height*/
}
/*BODY*/
body{
	background:#0D6134;
	color:antiquewhite;
	font-family:"Montserrat", sans-serif;	
}

/*ARTICLE*/
article{
	background-color: #82C49E;
	color: white;
	border-radius: 25px; /*rounds corners*/
	margin: 0 auto; /*centers my article horizontally*/
	max-width: 700px; /*makes article readable on large screens*/
	padding: 2em;
	margin-top: 2em;
}

/*HEADINGS*/
h1, h2, h3{
	font-family:"Grape Nuts", cursive;
}

h3{
	text-align: center;
}
/*HEADER*/
header{
	background-image: url("../images/portugal.jpg");/*this adds an image in the header section*/
	background-repeat: no-repeat; /*stops image from repeating and looking like tiles*/
	background-position:center;
	background-size:cover; /*makes image fill the header*/
	position: relative;
	display: flex;
	flex-direction: column; 
	justify-content: flex-end;
	padding: 5em 3em;
}

header h1{
	font-size: 4em;
	font-weight: 700;
	text-align: right;
}

p{
	padding-top: 2em;
}

article p{
		text-indent: 2em;
}

/*NAVIGATION*/

nav ul{
	list-style: none;
	display: flex;
	gap: 1em;
	padding: 1em;
	justify-content: center;
}
nav li a{
	display: inline-block;
	padding: .5em 1em;
	background:#82C49E;
	border-radius: 25px;
	text-decoration: none;
	border: 1px beige;
	color: white;
}

nav li a:visited{
	color:#F36A6A;
}

nav li a:hover{
	color: #8EDCD8;
}
/*IMAGES*/

img{
	width: 250px;
	height: auto;
	border-radius: 10px;
}

/*DIV CLASS CONTENT WRAPPER*/
.content-wrapper{
	display:flex;
	gap: 3em;
	margin: 2em;
}

/*MAIN COLOUMN*/
main{
}
/*FLEXBOX LAYOUT FOR MY SECTIONS*/

/*Section*/
section{
	display:flex;
	align-items: flex-start;
	gap: 1.53em;
	margin-bottom: 3em;
}

/*ABOUT ME*/
.about{
	display: flex;
	gap: 2em;
	align-items: center;
}

.about .text {
	flex: 1;
}
/*INTERESTS*/
.interests {
	display: flex;
	gap: 2em;
	align-items: center;
	margin-top: 2em;
}

/*ASIDE*/
aside{
	background:#82C49E;
	padding: 1.5em;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 20px;
	height: fit-content;
}

footer{
	text-align: right;
	background-image: url("../images/portugal.jpg");/*this adds an image in the header section*/
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 3em 1em;
}



